.flz-tags{
  padding: 0.2rem 0.3rem;
  white-space: nowrap;

  &-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .flz-tag-wrapper{
      margin: 0.15rem;
    }
  }

  &-wrapper{
    display: flex;
  }
}
